{% extends "base.html" %}

{% block content %}

<style>
    .custom-card {
        background-color: #f8f9fa; /* Gris claro */
        border-radius: 8px;
    }
</style>

<div class="container mt-5">
    <h1 class="text-center">Lista de Géneros</h1>
    <div class="text-end mb-3">
        <a href="{% url 'crear_generos' %}" class="btn btn-primary">Nuevo Género</a>
    </div>
    <div class="row">
        {% for genero in generos %}
        <div class="col-md-4 mb-4">
            <div class="card custom-card border border-secondary">
                <div class="card-body text-center">
                    <a href="{% url 'lista_productos' genero.id %}" class="btn btn-light text-dark" style="font-weight: bold; text-decoration: none; width: 100%; margin-bottom: 15px;">{{ genero.nombre }}</a>
                    <div>
                        <a href="{% url 'editar_genero' genero.id %}" class="btn btn-warning me-2">Editar</a>
                        <a href="{% url 'eliminar_genero' genero.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">No hay géneros disponibles.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}